{% extends "content.html" %}
{% load staticfiles %}
{% block meta_title %}{% if page %}{{ page.meta_title }}{% else %}Sales{% endif %}{% endblock %}
{% block extra_css %}
	<link rel="stylesheet" href="{% static 'css/bootstrap-datepicker3.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/jquery.timepicker.css' %}">
{% endblock %}
{% block extra_head %}
	{% block extra_headers %}{% endblock %}
{% endblock %}
{% block main %}
	{% block dbtest_main %}{% endblock %} <br/>
	{% include "dbtest/include_test.html" %}
{% endblock %}
{% block extra_js %}
	<script src="{% static 'js/js.cookie.js' %}"></script>
	<script src="{% static 'js/bootstrap-datepicker.js' %}"></script>
	<script src="{% static 'js/jquery.timepicker.min.js' %}"></script>
	{% block extra_scripts %}{% endblock %}
{% endblock %}
