{% extends "dbtest/base.html" %}

{% block title %}Ajax{% endblock %}
{% block section_title %}Ajax Test{% endblock %}

{% block main %}
	<p id="js-message" style="color: red;"></p>
	<form action="" method="post">
		{% csrf_token %}
		<table class="dataentry">
		{{ form.as_table }}
		</table>
		<input type="submit" value="Agregar" />
	</form>
	<br/>
	{% if test_data %}
		<table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
		<thead><tr><th>Id</th><th>Value</th></tr></thead>
		<tbody>
		{% for i in test_data %}
			<tr><td>{{ i.id }}</td><td>{{ i.value }}</td></tr>
		{% endfor %}
		</tbody>
		</table>
	{% endif %}
{% endblock %}

{% block extra_scripts %}
	<script>
	$("#id_number").change(function () {
		var csrftoken = Cookies.get("csrftoken");
		var numero = $(this).val();
		$.ajax({
			url: '',
			type: 'POST',
			headers: {'X-CSRFToken': csrftoken},
			data: {'number': numero},
			success: function (resp) { if (resp.already_exists) { $('#js-message').text(resp.message); } else { $('#js-message').text(""); } }
		});
	});
	</script>
{% endblock %}
