{% extends "dbtest/base.html" %}
{% load humanize %}

{% block title %}Detalle Factura # {{ inv_data.invoice }}{% endblock %}

{% block main %}
<ul>
	<li>Usuario: <strong><a href="{% url 'dbtest:userinv' user_data.document %}">{{ user_data.document }} - {{ user_data.last_name }}, {{ user_data.first_name }}</a></strong></li>
	<li>Fecha: <strong>{{ inv_data.invoice_date }}</strong></li>
	<li>Valor: <strong>$ {{ total_value.value | intcomma }}</strong></li>
</ul>
<form action="" method="post" class="form-inline">
	{% csrf_token %}
	{{ form }}
	<input type="submit" value="Agregar" />
</form>
<br/>
{% if products %}
    <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
	<thead>
		<tr>
			<th>Factura</th>
			<th>Id</th>
			<th>Producto</th>
			<th>Cantidad</th>
			<th>Precio</th>
			<th>Acción</th>
		</tr>
	</thead>
	<tbody>
	{% for p in products %}
		<tr>
			<td>{{ inv_data.invoice }}</td>
			<td>{{ p.id }}</td>
			<td style="text-align: left;">{{ p.product }}</td>
			<td>{{ p.quantity | intcomma }}</td>
			<td>$ {{ p.price | intcomma }}</td>
			<td>
				<form action="{% url 'dbtest:delprodinv' inv_data.invoice %}" method="post">
					{% csrf_token %}
					<input type="hidden" name="purchase_id" value="{{ p.id }}"/>
					<input type="submit" class="btn-link" value="Eliminar"/>
				</form>
			</td>
		</tr>
	{% endfor %}
	</tbody>
    </table>
	
	<!-- paginación -->
	{% if products.paginator.num_pages > 1 %}
		<ul class="pagination">
		{% if products.has_previous %}
			<li><a href="?page={{ products.previous_page_number }}">&#10094;</a></li>
		{% else %}
			<li><a>&#10094;</a></li>
		{% endif %}
		{% for pnum in products.paginator.page_range %}
			{% if pnum == products.number %}
				<li class="active"><a>{{ pnum }}</a></li>
			{% else %}
				<li><a href="?page={{ pnum }}">{{ pnum }}</a></li>
			{% endif %}
		{% endfor %}
		{% if products.has_next %}
			<li><a href="?page={{ products.next_page_number }}">&#10095;</a></li>
		{% else %}
			<li><a>&#10095;</a></li>
		{% endif %}
		</ul>
{% endif %}
{% else %}
    <p>La factura no tiene productos.</p>
{% endif %}
{% endblock %}
