{% extends "dbtest/base.html" %}

{% block section_title %}Nueva Factura{% endblock %}

{% block right_block_options %}
	<a href="{% url 'dbtest:newuser' %}" class="mdl-button mdl-js-button mdl-js-ripple-effect"><i class="material-icons">person_add</i>Nuevo cliente</a>
{% endblock %}

{% block main %}
<p>Cliente: <a href="{% url 'dbtest:userinv' user_data.document %}">{{ user_data.last_name }}, {{ user_data.first_name }}</a></p>
<form action="" method="post">
	{% csrf_token %}
	{{ form }}
	<br/>
	<input type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" value="Crear" />
</form>
{% endblock %}

{% block extra_scripts %}
<script type="text/javascript">
$(function () {
	$('#id_invoice_d').datepicker({ format: 'yyyy-mm-dd'});
	$('#id_invoice_t').timepicker({ 'timeFormat': 'H:i:s' });
});
</script>
{% endblock %}
