{% extends "base.html" %}
{% load pages_tags mezzanine_tags i18n staticfiles %}
{% block content %}
<div style="margin: 6rem 0rem;">
	<div class="container">
		{% nevercache %}
		{% if messages %}
		<div class="messages">
		{% for message in messages %}
		<div class="alert alert-dismissable alert-{{ message.tags }}" data-alert="alert">
			<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
			{{ message }}
		</div>
		{% endfor %}
		</div>
		{% endif %}
		{% endnevercache %}
	</div>
	<div class="container">
		<div class="row">
			<div class="col">
				<h3>{% block title %}{% endblock %}</h3>
			</div>
		</div>
		<div class="row">
			<div class="col-md-2 left">
				<div class="panel panel-default tree">{% page_menu "pages/menus/tree.html" %}</div>
			</div>

			<div class="col-md-7 middle">
				{% block main %}{% endblock %}
			</div>

			<div class="col-md-3 right">
				{% nevercache %}
				{% include "includes/language_selector.html" %}
				{% include "includes/user_panel.html" %}
				{% endnevercache %}
			</div>
		</div>
	</div>
</div>
{% endblock %}
